body {
  background-color: white;
}

.base {
  display: flex;
  flex-direction: row;
}

.Profile {
  width: 35vw;
  background-color: skyblue;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}

h1 {
  font-weight: bold;
}

.aboutMe {
  padding: 5vh 10vw;
  line-height: 4vh;
}

.project1 {
  padding: 5vh 10vw;
  display: flex;
  flex-direction: row;
}

.contact {
  margin-top: 2vh;
}

.main {
  width: 65vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  background-color: white;
  display: block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 100%;
  box-shadow: 0 0 0 4px #ffffff;
}
